vite-project/.vs/slnx.sqlite
vite-project/.vs/slnx.sqlite
vite-project/.vs/slnx.sqlite
vite-project/.vs/vite-project/FileContentIndex/8a6ebf77-13ea-4a26-83c0-f010ab028be3.vsidx
vite-project/.vs/vite-project/FileContentIndex/781b0bb3-15d5-416e-a804-fb97420d76be.vsidx
vite-project/.vs/vite-project/FileContentIndex/512fa918-0bd0-4682-b402-2a23097314a5.vsidx
vite-project/.vs/vite-project/FileContentIndex/a59a5e25-7869-4530-a6b2-da4148248f1d.vsidx
vite-project/.vs/vite-project/FileContentIndex/c85463c4-f6f6-4999-9c0f-f82cc88635b1.vsidx
vite-project/.vs/vite-project/FileContentIndex/d913b112-ccba-4161-aaad-3abce71c88ad.vsidx
vite-project/.vs/slnx.sqlite
