@import "tailwindcss";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Глобальные стили для текста */
html {
  font-size: 16px; /* Базовый размер для десктопа */
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* Уменьшаем базовый размер для мобильных */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px; /* Еще меньше для очень маленьких экранов */
  }
}